{% extends "base.html" %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}
{% load staticfiles %}

{% block info_block %}
    <h2>Your registration request has been verified!</h2>
    <br>
    First name: {{ user.fname }} <br>
    Family name: {{ user.lname }} <br>
    E-mail: {{ user.email }} <br>
    Phone: {{ user.phone }} <br><br>

    <p align="center" style="font-family:monospace;"><br>
        <a href="{% url 'portal:index' %}"> <img src="{% static 'portal/check-circular-button.png' %}" width="50%"></a>
    </p>
    <h4>Sit tight, instructions are coming your way...</h4>
{% endblock %}
