{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Pan-Net Infrastructure Registration Portal{% endblock %}</title>
    <link href="{% static 'portal/sticky-footer.css' %}" rel="stylesheet">
</head>
<body >

<div class="container-fluid">
        <div class="row" style="background: #f9f9f9;"><br></div>
        <div class="row" style="background: #f9f9f9;">
            <div class="col-xs-3 col-sm-3 col-lg-2" align="right">
                   <a href="{% url 'portal:index' %}"> <img src="{% static 'portal/telekom-logo.png' %}" width="50%"></a>
            </div>
            <div class="col-xs-6 col-sm-6 col-lg-8" align="center">
                <h2>Pan-Net Infrastructure ID Registration Portal</h2>
            </div>
            <div class="col-xs-3 col-sm-3 col-lg-2">

            </div>
        </div>

        <div class="row">
            <br><br>
            <div class="col-xs-3 col-sm-4"></div>
            <div class="col-xs-6 col-sm-4" align="center">
                {% block info_block %}{% endblock %}
            </div>
            <div class="col-xs-3 col-sm-4"></div>
        </div>

        <div class="row">
            <div class="col-xs-3 col-sm-4"></div>
            <div class="col-xs-6 col-sm-4" align="center" style="background: #f9f9f9;">
                {% block form_block %}{% endblock %}
            </div>
            <div class="col-xs-3 col-sm-4"></div>
        </div>
        <div class="row"><p></p></div>
        <div class="row"><p></p></div>
        <div class="row" align="center" >

        </div>
</div>
   <footer class="footer">
      <div class="container" align="center">
        <span class="text-muted"><strong>Problems registering?</strong> Contact <a href="mailto:pan-net.soc@telekom.com">Pan-Net SOC</a></span>
      </div>
    </footer>
