{% extends "base.html" %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}

{% block form_block %}
    <form action="{% url 'portal:create' %}" method="post" class="form">
                    {% csrf_token %}
                    {% bootstrap_form_errors form type='all' %}
                    {% bootstrap_field form.fname placeholder='Alice' size='lg' align='center' %}
                    {% bootstrap_field form.lname placeholder='Von Wonderland' size='lg' %}
                    {% bootstrap_field form.email placeholder='a.wonderland@acme.com' size='lg' %}
                    {% bootstrap_field form.phone placeholder='+421000000000' size='lg' %}
                    {% bootstrap_field form.captcha  %}

                    {% buttons %}
                        <button type="submit" name="submit" class="btn btn-primary">
                            {% bootstrap_icon "pencil" %} Register
                        </button>
                    {% endbuttons %}
                </form>
{% endblock %}