{% extends "base.html" %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}

{% block info_block %}
    <h1>An internal error occurred</h1>
    <h2 style="font-family:monospace;">¯\_(ツ)_/¯</h2>
    <br>
        <h4><u>Possible causes</u></h4>
    <ul>
        user is already verified (not you? contact <a href="mailto:pan-net.soc@telekom.com">Pan-Net SOC</a>)<br>
        the verification link has already expired (24h) (register again)<br>
        verification link is incorrect (you hax0r)<br>
    </ul>
{% endblock %}