{% extends "base.html" %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}

{% block info_block %}
    <h2>Sit tight</h2>
    <p>Bits and bytes are flying around, you should get an email soon.</p>
    <p>Here is the registration request summary:</p>
    First name: {{ fname }} <br>
    Family name: {{ lname }} <br>
    E-mail: {{ email }} <br>
    phone: {{ phone }} <br>
{% endblock %}