{% extends "base.html" %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}

{% block info_block %}
    <h2>You're almost there...</h2>
    <br><br>
    <h4>A verification link was sent to your email address</h4>
    <h3>You can close this window now.</h3>
{% endblock %}