{% extends "base.html" %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}

{% block info_block %}

{% endblock %}

{% block form_block %}
     <br>
     <form action="{% url 'portal:sendotp' %}" method="post" class="form">
         {% csrf_token %}
         {% bootstrap_form_errors sendotpcaptchaform type='all' %}
         {% bootstrap_field sendotpcaptchaform.captcha %}

         {% buttons %}
             <button type="button" onclick="window.history.back();" class="btn btn-warning">
                 {% bootstrap_icon "pencil" %} Edit
             </button>
             <button type="submit" value="Send SMS" class="btn btn-primary">
                 {% bootstrap_icon "send" %} Yes, It Does
             </button>
        {% endbuttons %}
         <input type="hidden" name="uid" value="{{ user.id }}">
    </form>
    <br>
{% endblock %}