{% extends "base.html" %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}

{% block info_block %}
    <h1>We're unable to send you a verification email at the moment.</h1><br>
    <h2>Monkeys are hard at work trying to fix that.</h2><br>
    <h3>We swear.</h3>
    <h2 style="font-family:monospace;">¯\_(ツ)_/¯</h2>
{% endblock %}