{% extends "base.html" %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block info_block %}

    <h3>Does this make sense to you?</h3><br>
    <strong>{{ user.fname }} <br>
    <strong>{{ user.lname }} <br>
    <strong>{{ user.email }} <br>
    <strong>{{ user.phone }}</strong><br>

     <h3>Verify {{ user.phone }}</h3>
{% endblock %}
{% block form_block %}
     <form action="{% url 'portal:verifyotp' %}" method="post" autocomplete="off" class="form">
         {% csrf_token %}
         <br>
         {% bootstrap_form_errors otpform type='all' %}
         {% bootstrap_field otpform.otp placeholder="Enter the code from the SMS.." size='lg' align='center' %}
         {% bootstrap_field otpform.captcha align='center' %}

         <input type="hidden" name="uid" value="{{ user.id }}">

         {% buttons %}
         <button type="submit" name="resend" class="btn">
             {% bootstrap_icon "refresh" %} Resend SMS
         </button>
         <button type="submit" value="Confirm" class="btn btn-primary">
             {% bootstrap_icon "send" %} Confirm
         </button>
        {% endbuttons %}
    </form>
{% endblock %}